/* line 1, ../compass/sass/style.scss */
html, body {
  margin: 0;
  height: 99%;
  overflow: hidden;
  text-align: center;
}

/* line 8, ../compass/sass/style.scss */
#thecanvas {
  height: 200px;
  margin: 50px;
  padding: 10px;
  box-sizing: border-box;
}
